body{
    background-color:#00304E ;
    height: 100%;
    color: white;
}
footer{
    height: 12rem;
    background-color: #F5F5F5;
    border-color: black;
    border-style: solid ;
    border-width: 1px;
    color: black;
    font-style: italic;
    font-size:small;
}
.minipie{
    width: 70%;
}
.patamaño{ 
    padding-left: 12%;
    padding-right: 12%;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}
.ibotones{
   top: 30px;
   text-align: center;
}
.bordernav{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
}
.jus{
    padding-left: 10%;
}
.modal-container{
   width: 100%;
   padding-top: 15%;
   padding-bottom: 30%;
   text-align: center;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: rgba(48, 48, 48, 0.5);
   z-index: 7;
}
.ventana{
    padding-top: 5px;
    background-color: #F5F5F5 ;
    opacity: 1; 
}
.lventana{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 40px;
}
#cerrar{
    display: none;
}
#cerrar + label{
    position: fixed;
    color: white;
    font-size: 25px;
    z-index: 50;
    background: black;
    height: 40px;
    width: 40px;
    line-height: 40px;
    right: 10px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
}
#cerrar:checked + label, #cerrar:checked ~ .modal-container{
    display: none;
}
.show{
    visibility: visible;
}

/* css para boton aleatorio de fondo de diferentes colores */
/* @import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body{
	margin: 0;
	padding: 0;
	background: #E8347D;
	font-family: 'Poppins', sans-serif;
}

.color{
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, 50%);
	text-align: center;
}

#hexadecimal{
	font-size: 35px;
	color: #ffffff;
	display: block;
	text-transform: uppercase;
	margin: 15px;
}

.color button{
	cursor: pointer;
	background: none;
	outline: none;
	font-size: 15px;
	color: #ffffff;
	border: 3px solid #fff;
	border-radius: 25px;
	padding: 10px 15px;
	transition: transform .3s ease
}

.color button:hover{
	transform: scale(1.1);
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  .hex:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  } */

  .piebaner{
      text-align: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: black;
  }

  /* Estilos Personalizados a Boostrap */

  .dropdown-item{
      color:#fff;
  }
  .carousel-control-next,
  .carousel-control-prev{
      width: 5%;
      opacity: 0.2;
  }